<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="des_product">
        <ul>
          <li>Thiết kế khung viền từ titan mới - Vật liệu cực nhẹ, bền cùng viền cạnh mỏng cho cảm giác cầm nắm thoải mái</li>
          <li>Luôn mạnh mẽ ở bất kì tác vụ nào với Chip A17 Pro cho đồ họa có độ phân giải cao nhưng tiêu thụ điện năng ít hơn</li>
          <li>Dynamic Island hiển thị linh động các cảnh báo giúp bạn không bỏ lỡ thông tin nào</li>
          <li>Bắt trọn khoảng khắc bạn yêu - Cụm 3 camera sau đến 48MP chụp đêm và chân dung hoàn hảo</li>
          <li>Nút tác vụ mới giúp nhanh chóng kích hoạt tính năng yêu thích của bạn</li>
        </ul>
    </div>
</body>
</html>